{{#partial "content"}}
    <h1>HERE ARE THE LIST OF OUR HEROES</h1>

    {{#if heros}}
        {{# each heros}}
            <p>Hero name : {{name}}</p>
            <p>Hero age : {{age}}</p>
            <p>Hero Special Power : {{specialPower}}</p>
            <p>Hero Weakness : {{Weakness}}</p>
            <hr>
        {{/each}}

    {{else}}
        <h1>Add heroes here</h1>
        <p>NO HEROS HAVE JOINED US YET !!</p>
    {{/if}}

    <a href="/form">Add a hero </a>


    <hr>


{{/partial}}

{{> layout.hbs}}